/* remove negative margins from bootstrap row class */
.row {
	margin: 0;
}

.form-container {

}

.comments-container__child {
	padding-left: 3em;
}

.comments-container__second-child {
	padding-left: 3em;
}

.comment-item {
	padding: .25em;
}

.comment-item--name {
	text-transform: uppercase;
	font-weight: bold;
}

.comment-item--description {
	background: #e9ecef;
	border: 1px solid;
	border-radius: .5em;
	padding: .5em;
}

.comment-item--time {
	color: #c7c7c7;
	font-size: .75em;
}

.comment-item--reply {
	text-align: right;
	font-size: .75em;
}

.comment-item--reply-form {
	background: #f8f9fa;
	padding: 1em;
	border: 1px solid #e9ecef;
}

.comments-form__submit {
	text-align: right;
}
